{% extends "base.html" %}
{% block title %} Historiques {% endblock %}
{% block content %}
	<h1>Historique</h1>
	{% if history %}
	<div class="table-responsive">
	<table class="table table-bordered">
	<tr class="table-info">
		<th scope="col">Quantité</th>
		<th scope="col">Unité</th>
		<th scope="col">Date</th>
		<th scope="col">Heure</th>
		<th scope="col">Total après</th>
	</tr>
	{% for entry in history %}
	<tr>
		<td>{{ entry.quantity }}</td>
		<td>{{ entry.unit  }}</td>
		<td>{{ entry.date  }}</td>
		<td>{{ entry.time}}</td>
		<td>{{ entry.total_after}}</td>
	</tr>
	{% endfor %}
	</table>
	</div>
	{% endif %}
{% endblock %}
