{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %} Tableau de bord {% endblock %}
{% block content %}
	<div class="card">
		<div class="card-header"><h3>Ajouter</h3></div>
		<div class="card-body">
			<p class="card-text">Ajouter votre consomation ici</p>
	{{ render_form(form) }}
		</div>
	</div>
	<div class="card">
		<div class="card-header"><h3>Barre de progresaion</h3></div>
		<div class="card-body">
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemax="100" ></div>
			</div>
		</div>
		<div class="card-footer">
			<p class="card-text">Votre progression: {{ progress }}%</p>
			<p class="xard-text"> Votre objectif: {{ goal/1000 }} L</p>
			<p class="card-text">Consomé : {{ current_total/1000 }} L</p>
		</div>
	</div>
{% endblock %}
