{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %} Paramètres {% endblock %}
{% block content %}

	<h1>Paramètres</h1>
	<div class="mb-4">
		<h3>Modifier l'objectif quotidien</h3>
	{{ render_form(set_goal)  }}
	<p class="mt-2">Votre objectif actuel: {{ goal }} mL</p>
	</div>
	
	<div class="mb-4">
		<h3>Réinitialisation</h3>
		<p>Consomation actuel : <strong>{{ session.current_total }}</strong> </p>
	<p>Cliquer <a href="{{ url_for('reset_progress')}}">ici</a> pour réinitialiser votre consomation aujourd'hui</p>
	</div>
{% endblock %}
